* {box-sizing: border-box;}

#whyhellothere {max-width: 550px; margin: 0 auto; padding: 15px; background-color: #131313;}
#whyhellothere p {font: 20px 'sans-serif', "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono";}
